html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    
}
header {
    margin-top: 20px;
  
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
   
}
nav a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #71BF43;
    
}
.logo {
    width: 150px;
   display: block;
    margin: 0 auto; 
}
.container {
    max-width: 670px;
    height: 580px;
    margin:  auto;
    position: relative;
}


.slides {
    position: relative;
}

.slide {
    position: absolute;
}

.slides img {
    width: 100%;
}

.prev,
.next {
     width: 34px;
   
    cursor: pointer;
    position: absolute;
    z-index: 100;
  
   
}



.next {
    right: 0;
    
}
.bottom{
    display: block;
}
.icon{
    width: 80%;
}

@media only screen and (min-width: 875px) {
    nav {
        float: right;
        width: 600px;
        
        
    }
    header{
        margin-left: 30px;
    }
    nav a {
       
        float: left;
        padding-right: 20px;
        color:black;
        
    }
     .logo {
    width: 300px;
   display: inline-block;
 
}
    .center{
    padding-left: 0;
}

.bottom{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
    .icons{
     text-align: center;
}
.icon{
    width: 20%;
}
}
